PORT=3000
DB_MODE=local-json
SPREADSHEET_ID=pega_aqui_el_id_de_tu_google_sheet
GOOGLE_SERVICE_ACCOUNT_FILE=./service-account.json
APPS_SCRIPT_URL=pega_aqui_la_url_de_apps_script
APPS_SCRIPT_TOKEN=
APPS_SCRIPT_READ_MODE=cache
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=pega_aqui_la_service_role_key
